body{
    margin: 0;
    color: #8c8c8c;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.6;
}
#info{
    height: 30px;
    background-color: #404040; 
}
#top-menu{
    height: 74px;
}
.border-box{
    border: 1px solid red;
}
.container-box {
    width: 1170px;
    margin: auto;
}
/* ============== header =========== */
#info-right, #info-left {
    height: inherit;
    width: 49%;
    display: inline-block;
    color: white;
    line-height: 30px;
}
#info-right{
    float: right;
    text-align: right;
}

#info-right-link li {
    display: inline-block;
    margin-left: 5px;
}
#info-right-link ul{
    margin: 0;
}
#info-right-link a{
    color: white;
}
#info-right-link a:hover, #menu a:hover{
    color: #5757f4;
}
#logo {
    height: 74px;
    width: 30%;
}
#menu {
    height: 74px;
    width: 60%;
    float: right
}
.inline-block {
    display: inline-block;
}
.menu-link li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
.menu-link a{
    text-decoration: none; 
}
#menu ul{
    float: right;
    margin: 0;
}
#menu a{
    color: #9a9595;
    display: block;
    height: 74px;
    line-height: 74px;
    text-transform: uppercase;
}
#top-menu{
    border-bottom: 1px solid #dddcdc;
}
/* ============== fin header =========== */
/* ========= debut bannière ========= */
#banner{
    height: 475px;
    background-image: url('../img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#banner-content{
    height: inherit;
}
#banner-content #brand{
    padding-top: 10%;
}

#brand h1{
    color: #005FA6;
    font-size: 42px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
    font-weight: 700;
}
#brand h2{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    font-weight: 700;
    font-size: 32px;
    margin-top: 0;
    width: 45%;
    line-height: 38px;
}
/* ========= fin bannière ======= */
/* ====== debut box ======= */
#box{
    background-color: #fcfcfc;
    height: 175px;
    padding: 30px 0 30px 0;
}
#box aside{
    height: 175px;
    width: 32%;
    display: inline-block;
    padding: 5px;
    position: relative;
}
#box-left, #box-center{
    border-right: 1px solid #9a9595;
}
#box i, #service i {
    color: #005FA6;
    font-size: 45px; 
}
#box i {
    position: absolute;
    top: 10%;
    right: 5%;
}
/* ===== fin box ======== */
/* =============debut services ===== */
#service{
    height: 465px;
}
section.service-text{
    text-align: center;
}
.service-text h2{
    text-transform: uppercase;
}

aside.service-text{
    width: 33%;
    display: inline-block;
    height: 91px;
}
.service-text div{
    display: inline-block;
    vertical-align: middle;
}
.service-text-left {
    width: 10%;
}
.service-text-right {
    width: 75%;
    margin: 0 25px;
}
.service-text-right h5{
    margin-bottom: 0px;
    color: #000;
}
.service-text h2, .news h3 {
    color: #000;
}

#service-line-two{
    margin-top: 50px;
}
/* =============fin services ===== */
/* ===== debut news ==== */
#news .container-box{
    height: 450px;
}

#news .news{
    width: 262px;
    height: inherit;
    display: inline-block;
    margin-right: 30px;
}
.blue-link{
    color: #005FA6;
}
#news .last{
    margin-right: 0px;
}
/* ==== fin news ==== */
/* == debut reference */
#reference {
    width: 900px;
}
#call-you {
    width: 262px;
}
#reference-box .container-box section {
    height: 175px;
    display: inline-block;
    vertical-align: top;
}
.ref-logo .ref-img{
    display: inline-block;
}
#reference {
    overflow: hidden;
}
.h-title{
    text-transform: uppercase;
    color: #000;
}


#form-call{
    background-color : #efefef;
    height: 93px;
    border-radius: 10px;
    padding: 10px 15px;
}

#form-call input{
    width: 95%;
    height: 45%; 
    border: none;
    background-color : #efefef;
}
#form-call input.first{
    border-bottom: 2px solid white;
}
#form-submit{
    width: 50px;
    height: 50px;
    background-color : #efefef;
    border-radius: 25px;
    position: absolute;
    top: 30%;
    right: -10%;
}
#form-submit button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 5px 0 0 5px;
    border: none;
}

#form-call-you{
    position: relative;
}

/* == fin reference */
